/* 
  position: relative, absolute, fixed, stick

  relative - ამის მეშვეობით ჩვენ შეგვიძლია რომ გადავაადგილოთ ჩვენი ელემენტი სადაც გვინდა

  absolute - აკეთებს იგივეს რაც relative მაგრამ ის აკეთებს მშობელი ელემენტის გარშემო

  fixed - მეშვეობით ჩვენ შეგვიძლია რომ ჩვენი ელემენტს მივცეთ საშვალება რომ გამოგვყვეს სქროლის დროს და მანამდე კი შეგვიძლია რომ გადავაადგილოთ სადაც გვინდა

  stick - აკეთებს იგივეს რაც fixed-ი მაგრამ არ შეგიძლია რომ გადაადგილო შენი ელემენტი მანამდე

  top
  bottom
  left
  right
*/

div {
    height: 300px;
    width: 300px;
    background-color: red;
    position: relative;
    left: 50px;
}